
.footer {
    background-color: #222111;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.footer-left {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
}

.footer-left h2 ,
.footer-right h2{
    font-family: sans-serif;
    font-size: 36px;
    color: white;
    margin-left: 120px;
    margin-top: 20px;
}

.footer-left p{
    font-family: sans-serif;
    font-size: 16px;
    color: #7D7D7D;
    margin-left: 120px;
    margin-bottom: 20px;
}

.footer-right {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: 120px;
}

/* Individual icon boxes */
.social-icons a {
    width: 45px;
    height: 45px;
    background: #e1b000;     /* Yellow background */
    color: #1f1f14;          /* Dark icon */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 22px;
    transition: 0.3s ease;
}

/* Hover effect */
.social-icons a:hover {
    transform: translateY(-4px);
    opacity: 0.85;
}

/* Responsive */
@media (max-width: 850px) {
    .footer {
        flex-direction: column;
        text-align: left;
        padding: 40px 30px;
        gap: 40px;
    }
}
