.navbar{
    padding-top:0%;
    margin-top: 0;
    background-color: rgb(240, 243, 228);
    height: 65px;
    width:100%;
    display: flex;
    gap: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
}
.nav_links{
    display: flex;
    list-style: none;
    align-items: right;
    gap:85px;
    color: black;
    font-size:19px;
    padding-top: 1%;
    padding-right:0px;
}
.nav_links a{
    text-decoration: none;
    color: inherit;
}

.nav_links a:hover{
    color: #555555;
}
.navbar img{
    padding-left: 15px;
    margin-right: 10px;
}